*{
  display:inline-block;
  padding:14px 26px;
  border-radius:12px;
  background:
  linear-gradient(135deg,#3b82f6,#06b6d4);
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.secondary{
  background:transparent;
  border:1px solid #38bdf8;
}

.section{
  max-width:1200px;
  margin:100px auto;
  padding:20px;
  text-align:center;
}

.grid{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  margin-top:40px;
}

.card{
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.08);
  padding:30px;
  border-radius:20px;
  backdrop-filter:blur(14px);
  transition:0.3s ease;
}

.card:hover{
  transform:translateY(-6px);
  box-shadow:
  0 0 30px rgba(56,189,248,0.2);
}

.premium{
  border:1px solid #38bdf8;
}

.video-wrapper{
  overflow:hidden;
  border-radius:20px;
  margin-top:30px;
}

.form-wrapper{
  margin-top:30px;
  border-radius:20px;
  overflow:hidden;
}

footer{
  text-align:center;
  color:#64748b;
  padding:50px 20px;
}

@media(max-width:768px){

  nav{
    flex-direction:column;
    gap:20px;
  }

  header h1{
    font-size:40px;
  }

  .nav-links{
    flex-wrap:wrap;
    justify-content:center;
  }

}